nav{
    background: rgba(0,0,0,1);
    padding: 0% 2% !important;
}

nav a.navbar-brand{
    width: 10%;
    padding: 0 !important;
    height: 100% !important;
}

nav a.navbar-brand img{
    width: 3vw;
    cursor: pointer;
}

nav div.dropdown-menu{
    max-height: 200px;
    overflow-y: scroll;
}

nav div.dropdown-menu::-webkit-scrollbar {
    width: 7.5px;
}

nav div.dropdown-menu::-webkit-scrollbar-track {
    background: white; 
}

nav div.dropdown-menu::-webkit-scrollbar-thumb {
    background: #6A00FF; 
}

nav li a{
    color: white !important;
    cursor:pointer;
}

nav li a.dropdown-item{
    color: black !important;
}

nav .active{
    background: #6A00FF !important;
}

nav .dropdown-menu{
    margin-top:  0 !important;
}

nav p.more.pane.navcat{
    text-align: center;
    font-size: 20px;
}

nav .dropdown-toggle::after{
    display: none !important;
}

nav p.navcattext{
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

nav a.dropdown-toggle{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}